<h2>Mostrar los productos en tiempo real</h2>

<div id="contenedorProductos"></div>

<h2>Formulario que envie un producto</h2>

<form id="idFormulario" action=""></form>

{{!-- Agregar aca el cdn de Socket.io--}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js"></script>
<script src="js/main.js"></script>